* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
  background-color: hsl(235, 18%, 26%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    font-size: 16px;
    width: clamp(400px, 90vw, 780px);
    border-radius: 20px;
}

.container__main {
    flex-basis: 100%;
    padding: 0 48px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container__main__text__title {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
    /* margin-bottom: 0.3em; */
}

.container__main__text__subtitle {
    font-weight: 400;
    color: hsl(235, 18%, 26%);
    margin-bottom: 1.5em;
    /* line-height: 1.5em; */
}

.container__main__text__ul {
    font-weight: 400;
    color:hsl(235, 18%, 26%);
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

.container__main__text__ul__list-item {
    display: flex;
    align-items: center;
    gap: 0.5em;
    list-style: none;
}

.container__main__form__toolbar {
    display: flex;
    justify-content: space-between;
}

.container__main__form__toolbar__label {
    font-weight: 700;
    font-size: 12px;
    color:hsl(235, 18%, 26%);
    line-height: 2.75em;
}

/* .container__main__form.invalid #error {
    display: block;
} */

#error {
    color: hsl(4, 100%, 67%);
}

/* .container__main__form.invalid input:first-of-type {
    border: var(--invalid) 1px solid;
    background-color: var(--invalid-transparent);
    color: var(--invalid);
} */

.container__main__form input {
    padding: 10px;
    width: 100%;
    border-radius: 7px;
}

#emailInput {
    border: 1px hsl(231, 7%, 60%) solid;
}

#formSubmit {
    border: 1px hsl(234, 29%, 20%) solid;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    margin-top: 20px;
}

.container__img {
    /* flex-basis: 100%; */
    display: flex;
    /* justify-content: flex-end;  */
    padding: 20px;
}

.container__img img {
  max-width: 100%;
}